html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: monospace;
    background: #fff;
}

@font-face {
    font-family: "Pixelar Regular W01 Regular";
    src: url("/fonts/4d8bd4f0-ce40-4f34-a0b8-49bc51024ea8.woff2") format("woff2"), url("/fonts/9c200a14-d264-405c-86bf-d27b840e86be.woff") format("woff");
}

a {
    color: inherit;
    text-decoration: none;
}

footer {
    clear: left;
    text-align: center;
    margin: 40px;
}

* {
    box-sizing: border-box;
}

.circle-picker {
    justify-content: normal;
}
